.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 50;
  filter: blur(50%);
  backdrop-filter: brightness(50%) blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 1.5rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 60;
}

.imagemModal {
  width: 100%;
  object-fit: scale-down;
}

.closeButton {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  text-align: center;
  color: #a3a3a3;
  transition: 150ms;
}

.closeButton:hover {
  background-color: #ececec;
}
