.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0px 5px 5px #0000000b;
  overflow: hidden;
}

.container h1 {
  color: #268aff;
  font-size: 2.2em;
  margin: 0;
  padding: 0;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 5px;
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
  }
}
