.linha{
    background-color: #268AFF;
    width: 100%;
    height: 46px;
    padding: 0 20px;
    color: #fff;
    display: flex;
    justify-content: initial;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 0px #1564BE;
    cursor: pointer;
    transition: 0.2s all;
}

.linha img{
    height: 20px; 
}

.linha:hover{
    transform: translateY(5px) translateX(5px);
    box-shadow: none;
}