.ordenacao{
    /* padding: 20px 150px; */
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    padding: 20px;
}

.ordenacao .conteudo{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.miniHeader {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .miniHeader div {
    display: flex;
  
    align-items: center;
  }
  
  .miniHeader h2 {
  
    width: max-content;
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #268aff;
    margin-bottom: 4px;
  }

  .miniHeader a{
    margin-top: 6px;
  }

  .barradeProgresso,
  .progresso {
    border-radius: 13px;
    height: 25px;
    background-color: #e5e5e5;
  }

  .barradeProgresso{
    width: 77%;
  }
  
  .progresso {
    width: 0%;
    background-color: #268aff;
    transition: 0.3s all;
  }


  .ordenacao section{

    width: 100%;

  }

  .ordenacao section .codigo{
    display: flex;
    flex-direction: column;
    /* background-color: #dededec9; */
    /* padding: 20px; */
    border-radius: 10px;
  }

  .ordenacao section .codigo .linha{
    padding: 20px 0;


  }


  .ordenacao section h2{
    width: 100%;
    margin: 0px auto 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #010101;
    padding: 15px;
    font-size: 1.7em;
  }

  .ordenacao section .borda{
    margin: auto;
    height: .0938rem;
    display: none;
    width: 80%;
    /* background-color: #7b7b7bbc; */
    background-color: transparent;
    margin-bottom: 30px;
    border-radius: 10%;
  }


  .botoes{
    width: calc(100% + 300px);
    margin-left: -150px;
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-top: 2px solid #7b7b7bbc ;
  }

  .botoes button{
    background-color: #5B636D;
    font-weight: bold;
    color: #fff;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 0 #282D33;
    transition: 0.2s all;
  }

  .botoes button:hover{
    transform: translateY(3px) translateX(3px);
    box-shadow: none;
  }

  .opcoes{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .opcoes p{
      color: #ffebeb;
      font-weight: bold;
      background-color: #7b7b7b;
      border-radius: 5px;
      padding: 20px;
      width: max-content;
      height: 40px;
      display: flex;
      justify-content: initial;
      align-items: center;
  }
  
  .sair{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sair a{
    text-decoration: none;
    color: #000000;
    border: 2px solid #0000005e;
    box-shadow: 2px 3px #0000005e;
    border-radius: 18px;
    padding: 15px 40px;
    transition: 0.2s all;
    font-weight: bold;
    cursor: pointer;
  }

  .sair a:hover{
    transform: translateY(2px);
    box-shadow: none;
  }


@media screen and (max-width: 700px) {

  .miniHeader h2 {
  
    display: none;
  }

  .ordenacao section h2{
    font-size: 1.44rem;
    margin: 0;
  }

}