.chat{
    max-width: 1400px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 60px 50px;
    
}

.infoDuvidas{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: max-content;
}


.infoDuvidas .infoData{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 3px;
}



.infoData .data{
    color: #828282;
    font-weight: bold;
    font-size: .8em;
}


.infoData .borda{
    width: 50px;
    min-height: 1px;
    max-height: 1px;
    background-color: #828282;
    /* display: none; */
}

.fullDuvidas{
    width: 100%;
    max-width: 100%;
    align-items: center;
    display: flex;
}

.fullDuvidas:last-child{
    margin-bottom: 2.5rem;
}


.fullDuvidas span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullDuvidas .scroll {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 20px;
    /* scroll-snap-type: x mandatory;
    overflow-x: scroll; */
    box-sizing: border-box;
}

.setaEsquerda svg{
    rotate: 180deg;
}

.setaDireita , .setaEsquerda {
    position: relative;
    height: 50px;
    margin: 0 20px;
    width: 60px;
    border-radius: 50%;
    background-color: #268AFF;
    box-shadow: 3px 3px 0px 0px #1564BE;
    transition: 0.3s all;
    font-size: 1.5rem;
    cursor: pointer;
}

.setaDireita:hover , .setaEsquerda:hover{
    transform: translateX(3px);
    transform: translateY(3px);
    box-shadow: none;
    font-size: 1.3rem;

}


.setaDireita img, .setaEsquerda img{

    width: 30px;
    height: 30px;
}

.setaEsquerda img{
    transform: rotate(180deg);
}

.fullDuvidas .scroll::-webkit-scrollbar{
    display: none;
}


@media screen and (max-width: 1000px) {
    
    .fullDuvidas span{
        display: none;
    }
    
}

@media screen and (max-width: 800px) {

    .chat{
        padding: 0px;
        /* margin-bottom: 300px !important; */
    }

    .infoDuvidas:first-child{
        margin-top: 100px;
    }
}
