.container{
    width: 100vw;
    height: 100%;
    display: flex;
    overflow-x: hidden;
}

.header{
    min-width: 250px;
    height: 100vh;
}

.conteudo{
    width: 100%;
    display: flex;
}

.chat{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.criacao{
    width: 30%;
    min-width: 300px;
}

@media screen and (max-width: 800px) {
    .header{
        display: none;
    }
}