.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .containerBox {
    width: 100%;
    height: 10.81rem;
    border-radius: 12px;
    border: 3px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: initial;
    padding: 2.5rem;
  }
  
  .containerBox .infoLeft {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }
  
  .containerBox .infoRight {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.5rem;
  }
  
  .btnGray,
  .btnBlue,
  .btnBlack {
    font-size: 1.2rem;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 200ms;
  }
  
  .btnGray {
    width: 12.37rem;
    height: 2.56rem;
    background-color: #d9d9d9;
    color: #1c74da;
  }
  
  .btnBlue {
    width: 15rem;
    height: 3.2rem;
    background-color: #1c74da;
    box-shadow: 5px 5px 0px 0px #145aaa;
    color: white;
  }
  
  .btnBlack {
    width: 15rem;
    height: 3.2rem;
    background-color: rgb(30, 30, 30);
    box-shadow: 5px 5px 0px 0px #3a3838;
    color: white;
  }
  
  .btnGray:hover {
    background-color: #b7b7b7;
  }
  
  .btnBlue:hover{
    margin-left: 5px;
    transform: translateY(5px);
    box-shadow: none;
  }

   
  .btnBlack:hover{
    margin-left: 5px;
    transform: translateY(5px);
    box-shadow: none;
  }
  
  .username {
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
  }
  
  .dataLabel,
  .respostaDataLabel {
    font-size: 1.25rem;
    color: #5c5c5c;
    width: fit-content;
    width: max-content;
  }
  
  .dataLabel span {
    font-weight: bold;
  }
  
  .dataLabel a {
    font-weight: bold;
    color: #268aff;
  }
  
  .respostaDataLabel {
    width: 7.18rem;
    text-align: center;
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    position: relative;
  }
  
  .header {
    min-width: 250px;
    height: 100vh;
  }
  
  .content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4.25rem 4.25rem 0 4.25rem;
    gap: 4rem;
    overflow-x: hidden;
    justify-content: start;
    align-items: center;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    color: black;
  }
  
  .caixaDuvidaContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .description {
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .line {
    background-color: #c9c9c9;
    width: 100%;
    height: 3px;
  }
  
  .image {
    border-radius: 8px;
    height: 16.875rem;
    object-fit: cover;
    transition: 100ms;
  }
  
  .image:hover {
    cursor: pointer;
    filter: brightness(50%);
  }
  
  .respostaContainer {
    width: 100%;
    border: 3px solid #d9d9d9;
    border-radius: 12px;
    padding: 2.25rem 3.5rem 2.25rem 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
  }
  
  .respostaRightInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
  }

  @media screen and (max-width: 1200px) {

    .caixaDuvidaContainer{
      gap: 1rem;
    }

    .caixaDuvidaContainer h1, .respostaContainer h3{
      font-size: 1.5rem;
      margin: 0;
    }


    .description,  .respostaRightInfo,   .username {
      font-size: 1.2rem;
      overflow-x: scroll;
    }

    .username::-webkit-scrollbar{
      display: none;
    }
    
    .dataLabel,
    .respostaDataLabel {
      font-size: 1.1rem;
    }

    .btnGray,
    .btnBlue,
    .btnBlack {
      font-size: 1.1rem;
    }

    .btnBlue,
    .btnBlack {
      width: 13.75rem;
    }


    .content {
      padding: 2.25rem 2.25rem 0 2.25rem;
    }

    .containerBox {
      padding: 1rem;
    }

  }
  
  @media screen and (max-width: 800px) {
    .content {
      padding: 0;
      margin: 120px 0;
    }

    .respostaContainer {
      padding: 1.5rem 1.5rem;
    }




    .caixaDuvidaContainer h1{
      font-size: 1.3rem;
    }


    .description,  .respostaRightInfo {
      font-size: 1rem;
    }

    .username {
      font-size: 1.2rem;
    }
    
    .dataLabel,
    .respostaDataLabel {
      font-size: 1rem;
    }

    .btnGray,
    .btnBlue,
    .btnBlack {
      font-size: .9rem;
      width: 48%;
      height: 3rem;
    }

  }



  @media screen and (max-width: 500px) {
    .respostaContainer h3{
      display: none;
    }

  .respostaRightInfo {
    width: 100%;
  }
  }