.component1{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    margin: 1.5rem 0;
    max-width: 100%;
    height: 100%;
    justify-content: center;
}

.component1 .header{
    display: flex;
    flex-direction: column;
}

.component1 .header h2{
    font-size: 2.1875rem;
}

.component1 .header p{
    font-size: 1.25rem;
}

.component1 .explicacao{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 4rem;
    height: 300px;
    min-height: 300px;
}

.component1 .explicacao h3{
    font-size: 1.4375rem;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

.component1 .explicacao h3 img{
    width: 15.625rem;
}



.component1 .explicacao .barra{
    width: 2px;
    min-height: 100% ;
    background-color: gray;
}

.component1 .explicacao .esquerda{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 45%;
    box-sizing: border-box;
}

.component1 .explicacao .esquerda p{
    max-width: 100%;
}

.component1 .explicacao .direita{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.25rem;
    margin-top: 1.875rem;
    width: 45%;
    
}

.component1 .teste{
    min-width: 100% !important;
}


@media screen and (max-width: 1200px) {

    .component1 .explicacao .esquerda .imagem{
        width: 100%;
    }

    .component1 .explicacao .direita{
        margin-top: 0;
        font-size: 1.1rem;

    }
}



@media screen and (max-width: 850px) {

    .component1 .header h2{
        font-size: 1.675rem;
    }

    .component1 .explicacao h3 img{
        width: 60%;
        max-width: 15rem;
    }
    
    .component1 .header p{
        font-size: 1.05rem;
    }

    .component1 .explicacao{
        overflow-x: scroll;
        min-height: max-content;
        height: max-content;
        scroll-snap-type: x mandatory ;
    }

    .component1 .explicacao .barra{
        display: none;
    }


    .component1 .explicacao .direita, .component1 .explicacao .esquerda{
        min-width: 100%;
        scroll-snap-align: start;

    }
  
}