.component4{
    width: 100%;
    min-height: 60vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.875rem 0;
}

.component4 .barra{
    height: 21.875rem;
    width: .1rem;
    background-color: gray;
}

.component4 .conteudo{
    display: flex;
    flex-direction: column;
    padding: 0 3.125rem;
    gap: 1rem;
}

.component4 .conteudo h2{
    font-size: 1.875rem;
    display: flex;
    flex-direction: column;
}

.component4 .conteudo img{
    width: 17rem;
}

.component4 .conteudo p{
    font-size: 1.2rem;
}

@media screen and (max-width: 850px) {
    .component4 .conteudo h2{
        font-size: 1.5rem;
    }
    
    .component4 .conteudo p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {

    .component4 .conteudo{
        padding: 0 1.5rem;
    }

    .paragrafos{
        display: flex;
        overflow: scroll;
        gap: 1rem;
        scroll-snap-type: x mandatory;
    }

    .paragrafos p{
        min-width: 100%;
        scroll-snap-align: start;
    }

    .component4 .barra{
        height: 20.625rem;
    }
}