.conteudo{
    width: 30%;
    height: 250px;
    border-radius: 12px;
    border: 3px solid #E1E1E1;
    color: #4B4B4B;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: initial;
    padding: 20px;
}

.conteudo button{
    width: 45%;
    background-color: #268aff;
    color: #fff;
    box-shadow: 0px 5px 0px 0.5px #1564be;
    padding: 15px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    transition: 0.2s all;
    cursor: pointer;
}

.conteudo p {
    max-height: 75px;
    overflow: hidden;
}

.conteudo button:hover{
    transform: translateY(5px);
    box-shadow: none;
}

.botoes{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


@media screen and (max-width: 970px) {
    .conteudo{
        width: 50%;
        min-width: 280px;
    }

}

@media screen and (max-width: 1186px) {
    .conteudo{
        height: 280px;
    }
}


@media screen and (max-width: 925px) {
    
    .conteudo{
       flex-direction: column;
       width: 100%;
    }
}