.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1{
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.dados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
}

.acertos{
    font-size: 8em;
    justify-content: center;
    align-items: center;
    color: #268AFF;
    margin-right: 10px;
}

.acertos div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.aproveitamento p {
    font-size: 1.8em;
}


.numeros{
    display: flex;
    justify-content: center;
    align-items: center;
}

.numeros div p {
    font-size: 2.4em;
    margin-bottom: -10px;
}



@media screen and (max-width: 427px){
    
    .container{
        margin-bottom: -50px;
    }

    .container h1{
        font-size: 2.5em;
    }

    .aproveitamento p {
        text-align: center;
        font-size: 1.42em;
    }


    .acertos{
        font-size: 5em;

    }

    .numeros div p {
        font-size: 1.6em;
        margin-bottom: -10px;
    }
    
}