.botoes .botao-habilitado, .botoes .botao-desabilitado, .botoes .botao-atual
{
  background-color: #268aff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 55px;
  border-radius: 30px;
  box-shadow: 0px 6.5px 0px 0.5px #1e6ac2;
  transition: 0.2s all;
}

.botoes .botao-desabilitado{
  background-color: #959eaa;
  box-shadow: 0px 6.5px 0px 0.5px #494949;


}

@keyframes buttonAtual {
  0% {
    background-color: #268aff;
    transform: translateY(0);
  transition: 0.5s all;

  }

  50%{
      background-color: rgb(52, 170, 255);
      transform: translateY(5px);
      transition: 0.5s all;

  }

  100% {
    background-color: #268aff;
    transform: translateY(0);
    transition: 0.5s all;
  }
}



.botoes .botao-atual{

  animation: buttonAtual 1.5s infinite linear;
}

.botoes a {
  background-color: #b6b6b6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 55px;
  border-radius: 30px;
  box-shadow: 0px 6.5px 0px 0.5px #777777;
  transition: 0.2s all;
}


.botoes img {
  width: 28px;
  height: 28px;
}

.botoes {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  gap: 25px;
}

.botoes a:hover {
  box-shadow: 0px 0px 0px 0px #1564be;
  transform: translateY(5px);
}

#poucoCurvado,
#item1,
#item2 {
  margin-left: -80px;
}

#muitoCurvado {
  margin-left: -150px;
}

.modal{
  background-color: #268bff14;
}

.modal-bau h2{
  display: flex;
  flex-direction: column;
}

.modal-bau h2 strong{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 126, 66) !important;
}

.modal .rodal-dialog{
  display: flex;
  justify-content: center;  
  align-items: center;
  flex-direction: column;
  gap: .8rem;
  text-align: center;
  overflow: hidden;
}

.modal .rodal-dialog h2{
  font-size: 1.2rem;
  font-weight: normal;
}

.modal .rodal-dialog p{
  font-size: .9rem;
}

@keyframes moveDown {
  0% {
    top: 0;
  }
  100% {
    top: calc(100% + 120px);
  }
}

.modal .rodal-dialog .confetes{
  height: 100px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY();
  animation: moveDown 3s ease-in-out forwards;
}

.modal-bau .ganhos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


@keyframes moveFogo {
  0% {
    opacity: 0;
    transform: translateX(0px);
    border: none;
  }

  70%{
    opacity: 60%;
    background-color: transparent;
  }

  100% {
    opacity: 100%;
    transform: translateX(60px);
    background-color: #ffe6d9;
    padding: 0 10px;
    border-radius: 8px;
  }
}


.modal-bau .ganhos strong{
  position: absolute;
  z-index: 0;
  font-size: 1.7rem;
  opacity: 0;
  animation: moveFogo 1s ease-in-out forwards;
  animation-delay: 1s;
  display: flex;
  align-items: center;
  gap: .1rem;
  color: rgb(255, 126, 66) !important;
}


@keyframes moveBau {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-30px);
  }
}

.modal-bau .bau-aberto{
  width: 100px;
  height: 100px ;
  transition: 0.25s all;
  animation: moveBau 1s ease-in-out forwards;
  animation-delay: 1s;

  position: relative;
  z-index: 999999999;
}

.modal .rodal-dialog strong{
  color: #268aff;
}

@media screen and (max-width:433px) {

  .modal .rodal-dialog h2{
    font-size: 1.1rem;
  }
  
  .modal-bau .bau-aberto{
    width: 95px;
    height: 95px;

  }

  .modal .rodal-dialog{
    max-width: 300px !important;
  }

}