.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container p{
   color: #268AFF;
   font-size: 2.2em;
   font-weight: bold;
}