.cabecalho {
  height: 100vh;
  width: 17rem;
  border-right: 2.5px solid rgba(0, 0, 0, 0.116);
  text-align: center;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecalho h1 {
  color: #268aff;
  font-size: 2.2em;
}

.cabecalho nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  align-items: center;
  box-sizing: border-box;
}

.cabecalho nav a {
  display: flex;
  align-items: center;
  justify-content: initial;
  padding: 17px;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 12px;
  gap: 7px;
}

.cabecalho nav a img {
  width: 30px;
  height: 30px;
}

.cabecalho nav p {
  text-decoration: none;
  font-size: 0.9em;
  font-weight: bold;
  color: #777777;
}

<<<<<<< HEAD
.cabecalho nav a:hover {
  background-color: #e1efff;
}

@media screen and (max-width: 800px) {
  .cabecalho {
    display: none;
  }
}
=======
  @media screen and (max-width: 800px) {
    .cabecalho{
        display: none;
    }
}

.cabecalho .myImage{
  border-radius: 50%;
}
>>>>>>> master
