.container{
    width: 100%;
    /* margin-top: 90px; */
}

.container:first-child{
    margin-top: 90px;
}


.titulo{
    margin-top: 40px;
    height: max-content;
    background-color: #268AFF;
    color: #fff;
    border-radius: 13px;
    padding: 30px;

}

.titulo p{
    margin-top: 10px;
}

.containerBotoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-right: -130px;
}

@media screen and (max-width: 1280px) {
    .container{
      width: 100%;
    }
  }
  

@media screen and (max-width: 800px) {
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .container:first-child{
        margin-top: 80px;
    }

    .imagem{
        display: none;
    }
    .containerBotoes{
        margin-right: 0;
    }
    .titulo{
        margin-right: 0px;
        width: 100%;
    }
}