.container{
    width: 100vw;
    height: 20%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1.8px solid #0000002d;
    background-color: #fff;
}

.conteudo{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo a{
    text-decoration: none;
    color: #000000;
    border: 2px solid #0000005e;
    box-shadow: 2px 3px #0000005e;
    border-radius: 18px;
    padding: 15px 40px;
    transition: 0.2s all;
    font-weight: bold;
    cursor: pointer;
}

.conteudo a:hover{
    color: #000000;
    background-color: #268AFF;
    box-shadow: 2px 3px #1564BE;
}


.sair{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  

@media screen and (max-width: 900px) {
    
    .conteudo{
        width: 80%;
    }

    .conteudo a{
        padding: 15px 30px;
    }
}

@media screen and (max-width: 1200px) {
    .container{
        min-height: 100px;
        height: 100px;
        
    }
}
