.informacoes {
  height: 100%;
  width: 25%;
  color: #4b4b4b;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px 20px;
  box-sizing: border-box;
}

.pontuacao {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #268bff23;
  border-radius: 13px;
  padding: 5px;
  width: 100%;
}

.pontuacao div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 5px;
}

.pontuacao div img {
  width: 30px;
  height: 30px;
}

.estudoManual {
  margin-top: 30px;
}

.estudoManual,
.comunidade,
.progresso {
  border: 2.5px solid rgba(0, 0, 0, 0.116);

  padding: 30px;
  border-radius: 15px;
}

@media screen and (max-height: 821px) {
  .progresso {
    display: none;
  }
}

.descricao {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.textos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.botao {
  width: 100%;
  background-color: #268aff;
  color: #fff;
  box-shadow: 0px 5px 0px 0.5px #1564be;
  padding: 15px;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  transition: 0.2s all;
  cursor: pointer;
}

.botao:hover {
  box-shadow: 0px 0px 0px 0px #1564be;
  transform: translateY(5px);
}

#infoComunidade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

#infoComunidade p {
  width: 70%;
}

.comunidade,
.progresso {
  margin-top: 20px;
}

.comunidade h2 {
  text-align: initial;
}

.barraProgresso {
  background-color: #e5e5e5;
  width: 85%;
  height: 15px;
  border-radius: 30px;
}

.barra {
  width: 70%;
  height: 15px;
  border-radius: 30px;
  background-color: #268aff;
}

.dados {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .imagens {
    display: none;
  }
  .comunidade {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
  }
}

@media screen and (max-width: 1280px) {
  .informacoes {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .informacoes {
    display: none;
  }
  .imagens {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  #infoComunidade p {
    width: 100%;
  }
}
