.revisao {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
}

.conteudo {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 2.2em;
  color: #268aff;
}

.miniHeader {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.miniHeader div {
  display: flex;

  align-items: center;
}

.barradeProgresso,
.progresso {
  width: 76%;
  border-radius: 13px;
  height: 28px;
  background-color: #e5e5e5;
}

.progresso {
  background-color: #268aff;
  transition: 0.3s all;
}

.informacoes {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: center;
  background-color: #268bff4a;
  border-radius: 13px;
  padding: 40px;
  flex-wrap: wrap;
}

.dados {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textos,
.imagem {
  width: 50%;
  height: 100%;
}

.textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.informacoes h2 {
  font-size: 2.1em;
}

.informacoes p {
  font-size: 1.5em;
}

.paragrafos {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  gap: 20px;
}

.imagem {
  display: flex;
  justify-content: right;
  align-items: center;
}

.imagem img {
  border-radius: 20px;
  box-shadow: 5px 5px 5px #0000007a;
  width: 90%;
  min-width: 450px;
}

.setas {
  position: relative;
}

#setEsquerda {
  top: 50%;
  right: 8%;
}

#setaDireita {
  rotate: 180deg;
  left: 105%;
  bottom: 45%;
}

@media screen and (max-width: 1274px) {
    

  .informacoes p {
    font-size: 1.3em;

  }

}


@media screen and (max-width: 1243px) {

   
    .revisao{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        gap: 10px;
        
    }

    .barradeProgresso{
        width: 96%;
    }

    .miniHeader h1{
        display: none;
    }

    .informacoes p {
        font-size: 1.1em;  
      }

    .revisao h2{
        font-size: 1.3em;
        min-width: 250px;
        text-align: center;
        padding: 10px 0px;
    }

    .informacoes{
        height: fit-content;
        min-height: 550px;
        padding: 10px;
        min-width: 250px;
        gap: 0px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .dados{
       width: 100%;
       height: 100%;
       flex-direction: column;
        align-items: center;
        text-align: center;
     }

    .textos, .imagem{
        width: 80%;
        min-width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagem img{
        min-width: 250px;
        height: 150px;
        margin-top: -50px;
    }


}


@media screen and (max-width: 376px) {
    .revisao{
    margin-bottom: 100px;
}
}

@media screen and (min-height: 800px) {
    .revisao{
        margin-top: -50px;
    }
}